<form class="form" [formGroup]="Employee">
  Name:<input type="text" placeholder="Name" formControlName="Name" />
  <span *ngIf="formError.Name">{{ formError.Name }}</span>
  <br />

  <br />
  email:<input type="" placeholder="Number" formControlName="number" />
  <span *ngIf="formError.number">{{ formError.number }}</span
  ><br />
  <div
    formArrayName="Skills"
    *ngFor="let skill of Employee.get('Skills').controls"
  >
    <form class="from" formGroupName="0">
      skill:<input type="text" formControlName="Skillname" />
      <span *ngIf="formError.Skillname">{{ formError.Skillname }}</span
      ><br />
      skill2:<input type="text" formControlName="Skillname2" />
      <span *ngIf="formError.Skillname2">{{ formError.Skillname2 }}</span
      ><br />
      <span *ngIf="formError.Skills">{{ formError.Skills }}</span
      ><br />

      Beginner:<input type="radio" value="Beginner" formControlName="Rating" />
      intermediate:<input
        type="radio"
        value="intermediate"
        formControlName="Rating"
      />
      Expert:<input
        type="radio"
        value="Expert"
        formControlName="Rating"
      /><br />
    </form>
  </div>
</form>

<div>
  <button (click)="AddSkill()">add Skill</button>
  <br />
  <button (click)="onclick()">Click karo ya pe</button>
</div>
{{ Employee.value | json }}
