<form class="form" [formGroup]="Employee">
  Name:<input type="text" placeholder="Name" formControlName="Name" /><br />
  <span *ngIf="length != 0">Doing Rigth............. {{ length }}</span
  ><br />
  Number:<input type="" placeholder="Number" formControlName="number" /><br />
  <form class="from" formGroupName="Skills">
    skill:<input type="text" formControlName="Skillname" /><br />
    Beginner:<input type="radio" value="Beginner" formControlName="Rating" />
    intermediate:<input
      type="radio"
      value="intermediate"
      formControlName="Rating"
    />
    Expert:<input type="radio" value="Expert" formControlName="Rating" /><br />
  </form>
</form>

<div>
  <button (click)="onclick()">Click karo ya pe</button>
</div>
